/vitality.bin
/libc/*.o
/libc/vitality/*.o
/kernel/*.o
/libc/ext/*.o
/libc/g++/*.o
/libc/vitality/fs_implementations/*.o
/kernel/libasm/*.o
/bootloader/*.bin
/drivers/*.o
/*.o
/*.bin
/*.elf
/bochslog.txt
/bx_enh_dbg.ini
*.img
*.bak
*.lock